/* general characteristics of a Table header cell in ALL Admin Pages */
thead th {
	background-color:	#00b300;
	color: white;
	padding: 2px 5px;
	text-align: center;
	vertical-align: middle;
	line-height: 1.2em;
}

tbody tr:nth-child(odd) {
        background-color:       #ffffe6;
        color: black;
}

tbody tr:nth-child(even) {
        background-color: #ffffb3;
        color: black;
}

.hdrRibbon { /* Always on the top of every page */
	position: relative;
	top: 0px;
	width: 80vw;
	height: 10vh; /* Adjusted per page by using local CSS */
	margin-top: 0px;
	margin: auto;	
/*
	border: 1px solid purple;
 */
	white-space: nowrap;
}

.hdrRibbon img { /* for the logo */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	/* both height and width shall be adjusted per page requirements; but need to be in scale */ 
	height: 9vh;
	width: 9vh; /* use vh (not vw) so to be round or square */
/*
	border: 1px solid blue;
 */
}

.hdrRibbon #pgTitle { /* for the page Title */
	left: 10vh;	/* adjustable according to the logo size */
	display: inline-block;
	font-size: 23px; font-weight: bold;
/*
	border: 1px solid black;
 */
}

.dataArea {
	position: relative;
	top: 1vh;
	left: 50%;
	transform:translateX(-50%);
	width: 75%;
	height: 87vh;
	border: 1px solid grey;
}

.centerMe { /* generic; to center a block element in its containing block element */
	position: absolute; top: 50%; left: 50%; transform:translate(-50%, -50%);
}

.centerMeV { /* generic; to vertically center a block element in its containing block element */
	position: absolute; top: 50%; transform:translateY(-50%);
}

.centerMeH { /* generic; to horizontally center a block element in its containing block element */
	position: absolute; left: 50%; transform:translateX(-50%);
}

.q_centerMe {
	position: absolute; top: 25%; left: 50%; transform:translate(-50%, -50%);
}

.dataTbl {	/* data table generic characteristics */
	table-layout: fixed;
	border-collapse: collapse;
	border: 1px solid blue;
}

.dataTbl tbody tr:nth-child(even) {
	background-color: #ffffb3;
	color: black;
}

.dataTbl tbody tr:nth-child(odd) {
	background-color:	#ffffe6;
	color: black;
}

.future {
/*	background-color: grey; */
	color: white;
	opacity: 0.6;
}

#pgLogOut {
	right: 0px;
	width: 4vw;
	background-color: #00b300;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding: 4px 0px;
}

#pgLogOut:hover {
	background-color: #009900;
	color: yellow;
	font-weight: bold;
	cursor: pointer;
}

.errMsg {
	width: 70%;
	border: 5px solid red;
	border-radius: 5px;
	border-width: 3px;
	padding: 3px 5px;
	letter-spacing: 2px;
}

.msgBox {
	width: 40%;				/* changeable */
	margin: auto;
	border: 7px solid red; /* border-color changeable */
	border-radius: 7px;
	padding: 1vh 2vw;
	font-size: 1.2em;
	text-align: left;		/* changeable */
	letter-spacing: normal;	/* changeable */
}
