
#myMenuTbl {
	right: 4.1vw;
/*	border: 1px solid hotpink; /* testing purpose */
	table-layout: auto;
	width: 42vw;
	border-collapse: collapse;
}

#myMenuTbl th {
	border: 1px solid white;
}

a.myLinkButton {
	text-decoration: none;
	background-color:#00b300;
	color: white;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	height: 100%;
}

a.myLinkButton:hover {
	background-color: #009900;
	color: yellow;
	font-weight: bold;
	cursor: pointer;
}

.active {
	background-color: green;
	color: yellow;
	font-weight: bold;
}