.engClass {
	font-size: 0.85em;
}

#myLoginTbl {
	border: 4px ridge #00b300;
}

#myLoginTbl td {
	height: 10vh;
	padding: 0px 5px;
	font-size: 1.3em;
	border: 1px solid #00b300;
}

#myDataTitle {
	margin-top: 10vh;
	text-align: center;
	letter-spacing: 12px;	
}

input {
	font-size: 0.9em;
}

input[disabled] {
	opacity: 0.6;
}

.pushButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.loginAck {
	border: 7px solid red;
	width: 77%;
	margin: auto;
	padding-left: 3vw;
}