<h2>為蓮友處理牌位</h2>
<div class="dataHdrWrapper">
    <table class="dataHdr">
        <thead>
            <tr>
                <th colspan="2" style="border-right: none;">
                    <input	type="text" name="icoName" style="width: 70%;" id="icoInput"
                            data-pmptV = "" value="請輸入蓮友識別名"><br/>
                    <input type="button" id="icoInputBtn" name="icoSub" value="處理該蓮友牌位">
                </th>
                <th colspan="4"
                    style="font-size: 1.3em; letter-spacing: 5px;
                        border-left: none; border-right: none;">
                    蓮友所申請牌位匯總表<br/>
                    <span style="letter-spacing: normal; font-size: 0.8em;">
					(點選任何數字格，即可躍至該蓮友該項牌位的申請表來作處理。)
                    </span>
                </th>
                <th colspan="2" style="border-left: none;">
                    <input type=text id="toBeReplaced" name="icoName" value="Replace with dropdown list"><br/>
                    <input type="button" id="icoSelBtn" name="icoSub" value="處理該蓮友牌位">
                </th>
            </tr>
            <tr>				
				<th>蓮友登錄識別名</th>
				<th>祈福消災牌位</th>
				<th>往生者蓮位</th>
				<th>(一年內)<br/>往生者蓮位</th>
				<th>歷代祖先蓮位</th>
				<th>累劫冤親債主<br/>蓮位</th>
				<th>地基主蓮位</th>
				<th>總&nbsp;&nbsp;計</th>
            </tr>
        </thead>
    </table>
</div><!-- data header wrapper -->
<div class="dataBodyWrapper">
    <table class="dataRows">
        <tbody>
            <tr><td>This is where the data will be loaded</td></tr>
        </tbody>
    </table>
</div><!-- data body wrapper -->