.engClass {
	font-size: 0.8em;
}

#myMenuTbl {
	table-layout: fixed;
}

.pwTbl:hover, .ugld:hover, #upld:hover, #dnld:hover {
	background-color: #009900;
	color: yellow;
	font-weight: bold;
	cursor: pointer;
}

#myDataTitle {
	text-align: center;
	letter-spacing: 20px;
}

/**********************************************************
 *			Data Table Styles																	*
 **********************************************************/

#myHdrWrapper, #myDataWrapper, #myDataFooter {
	width: 100%;
}

#myDataWrapper {
	overflow-y: auto;
	height: 75vh;
}

#myDataHdr, #myData, #myDataFooter { /* used as Table IDs */
	width: 100%;
	border-collapse: collapse;
	border: none;
}

#myDataHdr th, #myData td, #myDataFooter th {
	border: 1px solid silver;
	margin: 0;
	padding: 2px 5px;
	height: 22px;
	line-height: 1.2em;
	vertical-align: middle;
}

.oprCol {
  text-align: center;
}

input {
  font-size: 1.0em;
}

input[type=button], input[type=submit] {
  background-color: aqua;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 3px;
}

tbody tr:nth-child(odd) input[type=text] {
	width: 100%;
	background-color: #ffffe6;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

tbody tr:nth-child(even) input[type=text] {
	width: 100%;
	background-color: #ffffcc;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}






