<h2>截止時分設定</h2>
<form action="" method="post" id="sundayDue">
    <input type="hidden" name="ID" value="">
    <table class="dialog">
        <thead><tr><th>祈福迴向截止時點 (HH)</th><th>祈福迴向截止分點 (MM)</th></tr></thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" name="expHH" value="" data-oldV="" data-fldN="expHH" data-changed="false">
                </td>
                <td>
                    <input type="text" name="expMM" value="" data-oldV="" data-fldN="expMM" data-changed="false">
                </td>
            </tr>
            <tr><td colspan="2"><input type="submit" name="setSundayDue" value="設定/更新截止時分"></td></tr>
        </tbody>
    </table>
</form>