<h2>為蓮友處理祈福迴向申請</h2>
<div class="dataHdrWrapper">
    <table class="dataHdr" style="table-layout: fixed;">
        <thead>
            <tr>
                <th style="border-right: none;">
                    <input	type="text" name="icoName" style="width: 70%;" id="icoInput"
                            data-pmptV = "" value="請輸入蓮友識別名"><br/>
                    <input type="button" id="icoInputBtn" name="icoSub" value="處理該蓮友祈福迴向申請">
                </th>
                <th colspan="2"
                    style="font-size: 1.3em; letter-spacing: 5px;
                        border-left: none; border-right: none;">
                    蓮友祈福迴向申請匯總表<br/>
                    <span style="letter-spacing: normal; font-size: 0.8em;">
                    (點選任何數字格，即可躍至該蓮友的申請表來作處理。)
                    </span>
                </th>
                <th style="border-left: none;">
                    <input type=text id="toBeReplaced" name="icoName" value="Replace with dropdown list"><br/>
                    <input type="button" id="icoSelBtn" name="icoSub" value="處理該蓮友祈福迴向申請">
                </th>
            </tr>
            <tr>
                <th>蓮友登錄識別名</th><th>消災祈福申請</th><th>功德迴向申請<th>總&nbsp;&nbsp;計</th>
            </tr>
        </thead>
    </table>
</div><!-- data header wrapper -->
<div class="dataBodyWrapper">
    <table class="dataRows" style="table-layout: fixed;">
        <tbody>
            <tr><td>This is where the data will be loaded</td></tr>
        </tbody>
    </table>
</div><!-- data body wrapper -->