.bkListClass {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

.bkListClass thead th {
	border: 1px solid silver;
	background-color: #00b300;
    color: white;
	text-align: center;
	padding: 2px 5px;
}

.bkListClass tbody td {
	color: black;
	border: 1px solid silver;
	padding: 2px 5px;
}

.bkListClass tbody tr:nth-child(even) {
	color: black;
	background-color: #ffffb3;
}

.bkListClass tbody tr:nth-child(odd) {
	color: black;
	background-color: #ffffe6;
}

/* below are specific to the Book List */
.bkListClass th:first-child, .bkListClass td:first-child { /* This is the checkbox column */
	width: 5%;
	text-align: center;
}

.bkListClass th:nth-last-child(3), .bkListClass td:nth-last-child(3) {
	/* For Chinese books, this is the 筆畫 column; otherwise, the checkbox column, i.e., the first column */
	text-align: center;
}

.bkListClass th:nth-last-child(2), .bkListClass td:nth-last-child(2) {
	width: 58%;
}

.bkListClass th:last-child, .bkListClass td:last-child {
	width: 30%;
}

.bkListClass input[type=checkbox] {
	transform: scale(1.5);
}

/*
 * Below are for TBODY scrolling
 */

table.scrollable { /* the outer container is #tabDataFrame */
    display: flex;
    flex-flow: column; /* vertically */
    height: 100%;
    width: 100%;
}

table.scrollable thead {
    /* head takes the height it requires, and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em); /* 16px / 0.9em is the scrolling bar */
}

table.scrollable tbody {
    /* body takes up all the remaining space vertically */
    flex: 1 1 auto;
    display: block;
	overflow-y: scroll;
}

table.scrollable tbody tr {
    width: 100%;
}

table.scrollable thead, table.scrollable tbody tr {
    display: table;
    table-layout: auto;
}